@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Categori Ekleme Sayfası</h2>
<form method="post">
    <label>Categori Adı</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <label>Categori Durum</label>
    @Html.TextBoxFor(x => x.CategoryStatus, new { @class = "form-control" })
    <br />
    
    <button class="btn btn-outline-danger">Kaydet</button>
</form>


