@using EntityLayer.Concrete
@model List<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Categori Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Categori Adı</th>
        <th>Categori Durumu</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryStatus</td>
            <td><a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Category/EditCategory/@item.CategoryID" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }

</table>

<a href="/Category/AddCategory/" class="btn btn-outline-primary">Yeni Categori Girişi</a>


